/* DashboardPage全体のスタイル */
.DashboardPage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin-top: 30px;
}

/* ヘッダーのスタイル */
.DashboardPage header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.logout-button {
    padding: 10px 20px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* ToDoコンテナのスタイル */
.todo {
    text-align: center;
}

.todo h1 {
    color: #333;
    margin-bottom: 20px;
}

/* タスク入力フォームのスタイル */
.task-input form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.task-input input[type="text"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.task-input button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.task-input button:hover {
    background-color: #4cae4c;
}

/* タスクフィルターのスタイル */
.task-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.task-filter button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.task-filter button.active {
    background-color: #5bc0de;
    color: #fff;
}

.task-filter button:not(.active) {
    background-color: #e0e0e0;
    color: #333;
}

.task-filter button:not(.active):hover {
    background-color: #d4d4d4;
}

/* タスクリストのスタイル */
.task-list {
    list-style: none;
    padding: 0;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.task-list li:last-child {
    border-bottom: none;
}

.task-list li span {
    flex-grow: 1;
    margin-right: 10px;
    word-break: break-all;
}

.task-list li input[type="checkbox"] {
    margin-right: 10px;
}

.task-list li button {
    background-color: #e0e0e0;
    border: none;
    color: #666;
    cursor: pointer;
    font-size: 16px;
    width: 110px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.task-list li button:hover {
    background-color: #ff3b3b;
    color: #fff;
}
